footer
  .container.text-center
    ul.float-right.list-inline.footertext
      li.list-inline-item.float-left
        a(href='/privacy') Privacy Policy
      p.list-inline-item.float-right © 2019 Ron T &amp; Zac M-W, with thanks to the #[a(href='https://www.auckland.ac.nz/en/staff/learning-and-teaching/clear/seed-grants.html', style='color: white; text-decoration: underline;') SEED Fund 2019] for enabling SwishUI to be created.
    //- li.list-inline-item
    //-   a(href='https://github.com/sahat/hackathon-starter/issues') Issues
