footer
  .container.text-center
    p.float-left © 2019 Ron Tiong
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://www.auckland.ac.nz/en/staff/learning-and-teaching/clear/seed-grants.html', target='_blank') SEED Grants for innovation in teaching
