extends layout

block content
  form(action='/upload',method='post')#main-form
    #step1
      h1.title Step One
      p.help Upload your quiz questions as an Excel or CSV file. If you're not sure how to make this file, get in touch with Ron Tiong at r.tiong@auckland.ac.nz for more information.
      input(type='hidden', name='_csrf', value=_csrf).nosave
      input(type='hidden', name='filedata').nosave#filedata
      .card.upload#upload-zone
        .card-body
          h1 DRAG & DROP
          p.lead Or click to upload a file
          p.bottom Supported types: csv, xls, xls. Maximum filesize: 15 MB
        .fallback: input(name='file',type='file')
        .log#error
          h4 Uh oh! Swish encountered an error while reading your file:
          pre
        .log#success
          h4 File read successful!
          pre
    #step2.container
      h1.title Step Two
      p.help Fill out the following information. You can find out how to get your Token & Course ID 
        a(href='#') here
      .row
        .form-group.col-sm
          label(for='token') Token *
          input(required,type='password',placeholder='Enter your canvas token',name='TOKEN').form-control.garlic-persist#token
      .row
        .form-group.col-sm
          label(for='domain') Domain *
          select(required,name='DOMAIN').form-control.nosave
            option(value='0') PUBLIC! (https://auckland.instructure.com:443)
            option(value='1' selected) Beta (https://auckland.beta.instructure.com:443)
        .form-group.col-sm
          label(for='courseid') Course ID *
          input(required,type='text',placeholder='Enter your course ID',name='COURSE_ID').form-control.garlic-persist#courseid
      .row
        .form-group.col-sm-6
          label(for='prefix') Assignment Title Prefix *
          input(required,type='text',placeholder='Enter the assignment title prefix',name='ASSIGNMENT_TITLE').form-control#prefix
        .form-group.col-sm-3
          label(for='numqs') Number of Questions *
          input(required,type='number',min='0',placeholder='Enter the number of questions',name='NUMBER_OF_QUESTIONS_PER_QUIZ').form-control#numqs
        .form-group.col-sm-3
          label(for='totalmarks') Total Marks *
          input(required,type='number',min='0',placeholder='Enter the total # of marks',name='TOTAL_MARKS_PER_QUIZ').form-control#totalmarks
      .row
        .form-group.col-sm-6
          label(for='derivemarks') Derive marks per Q (optional)
          input(type='number',placeholder='Enter the derive marks per Q (optional)',name='MARKS_PER_QUESTION').form-control#derivemarks
        .form-group.col-sm-3
          label(for='lockdatetime') Lock Date Time *
          input(required,type='text',placeholder='lock date/time',name='LOCK_DATE').form-control.datetimepicker#lockdatetime
        .form-group.col-sm-3
          label(for='maxattempts') Number of Attempts
          input(type='number',placeholder='Leave blank for unlimited',name='NUMBER_OF_ATTEMPTS').form-control#maxattempts
      input(type='submit',value='begin').btn.btn-large.btn-success.float-right