extends layout

block content
  form(action='/upload',method='post')#main-form
    #step1
      h1.title Step One
      div.help.alert.alert-light Upload your quiz questions below as an Excel or CSV file. If you're not sure how to make this file, start with one of the example files #[a(href='https://github.com/ron-t/Swish/tree/master/SwishUI/samples-and-templates') here]. If an Excel or multi-sheet file is used, only the first sheet will be read.
      input(type='hidden', name='_csrf', value=_csrf).nosave
      input(type='hidden', name='filedata').nosave#filedata
      .card.upload#upload-zone
        .card-body
          h1 DRAG & DROP
          p.lead Or click to upload a file
          p.bottom Supported types: csv, xls, xls. Maximum filesize: 15 MB
        .fallback: input(name='file',type='file')
        .log#error
          h4 Uh oh! Swish encountered an error while reading your file:
          pre
        .log#success
          h4 File read successful!
          pre
    #step2.container
      h1.title Step Two
      div.help.alert.alert-light Fill out the following information. You can find out how to get your Token & Course ID 
        a(href='https://github.com/ron-t/Swish/blob/master/Documents/Guide%20to%20Access%20Token%20Generation.pdf') here
      .row
        .form-group.col-sm
          label(for='token') Token *
          input(required,type='password',placeholder='Enter your canvas token',name='TOKEN').form-control.garlic-persist#token
      .row
        .form-group.col-sm
          label(for='domain' style='text-align: left;') Domain *
          select(required,name='DOMAIN').form-control.nosave
            option(value='0') ⚠️PUBLIC (https://auckland.instructure.com)
            option(value='1' selected) Beta (https://auckland.beta.instructure.com)
            option(value='2') Test (https://auckland.test.instructure.com)
        .form-group.col-sm
          label(for='courseid') Course ID *
          input(required,type='text',placeholder='Enter your course ID',name='COURSE_ID').form-control.garlic-persist#courseid
      .row
        .form-group.col-sm-6
          label(for='prefix') Assignment title prefix *
          input(required,type='text',placeholder='Enter the assignment title prefix',name='ASSIGNMENT_TITLE').form-control#prefix
        .form-group.col-sm-3
          label(for='numqs') Number of questions *
          input(required,readonly,type='number',min='0',placeholder='Enter the number of questions',name='NUMBER_OF_QUESTIONS_PER_QUIZ').form-control#numqs
        .form-group.col-sm-3
          label(for='totalmarks') Total marks *
          input(required,type='number',min='0',placeholder='Enter the total # of marks',name='TOTAL_MARKS_PER_QUIZ').form-control#totalmarks
      .row
        .form-group.col-sm-3
          label(for='lockdatetime') Due &amp; lock date time *
          input(required,type='text',placeholder='lock date/time',name='LOCK_DATE').form-control.datetimepicker#lockdatetime
        .form-group.col-sm-3
          label(for='maxattempts') Number of attempts
          input(type='number',placeholder='Leave blank for unlimited',name='NUMBER_OF_ATTEMPTS').form-control#maxattempts
        .col-sm-6
          input(type='submit',value='begin').btn.btn-large.btn-success.float-right