extends layout

block content
  p We do not knowingly collect any information about you or from Canvas.

  p To create Canvas quizzes, SwishUI uses the information you provide on the site to make use of the Canvas API (#[a(href='https://canvas.auckland.ac.nz/doc/api/') https://canvas.auckland.ac.nz/doc/api/]). None of the information you provide, or the information returned by the Canvas API is stored by us. All Canvas API calls are made securely over HTTPS to #[a(href='https://canvas.auckland.ac.nz') https://canvas.auckland.ac.nz] or #[a(href='https://auckland.beta.instructure.com') https://auckland.beta.instructure.com] or #[a(href='https://auckland.test.instructure.com') https://auckland.test.instructure.com].

  a(href='/').btn.btn-large.btn-success Return home